################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MU5PrototypeProject/.vs
/MU5PrototypeProject/MU5PrototypeProject/bin
/MU5PrototypeProject/MU5PrototypeProject/obj
/MU5PrototypeProject/MU5PrototypeProject/.vs
MU5PrototypeProject/MU5PrototypeProject/SUMSolutionsProject.db-shm
MU5PrototypeProject/MU5PrototypeProject/SUMSolutionsProject.db-wal
MU5PrototypeProject/MU5PrototypeProject/SUMSolutions.db-wal
MU5PrototypeProject/MU5PrototypeProject/SUMSolutions.db-shm
MU5PrototypeProject/MU5PrototypeProject/SUMSolutions.db-shm
MU5PrototypeProject/MU5PrototypeProject/SUMSolutions.db-wal
MU5PrototypeProject/MU5PrototypeProject/SUMSolutions.db-shm
MU5PrototypeProject/MU5PrototypeProject/SUMSolutions.db-wal
MU5PrototypeProject/MU5PrototypeProject/SUMSolutions.db-shm
MU5PrototypeProject/MU5PrototypeProject/SUMSolutions.db-wal
*.db
*.sqlite
MU5PrototypeProject/MU5PrototypeProject/Data/MUMigrations/20260310011100_NewMigrate.cs
MU5PrototypeProject/MU5PrototypeProject/Data/MUMigrations/MUContextModelSnapshot.cs
MU5PrototypeProject/MU5PrototypeProject/Data/MUMigrations/20260310011100_NewMigrate.Designer.cs
/MU5PrototypeProject/MU5PrototypeProject/Data/Migrations
/MU5PrototypeProject/MU5PrototypeProject/.claude
**/.vs/
**/bin/
**/obj/
**/.claude/
*.db-shm
*.db-wal
*.csproj.user
*.pubxml.user
*.suo
*.user
MU5PrototypeProject/MU5PrototypeProject/Properties/PublishProfiles/
MU5PrototypeProject/MU5PrototypeProject/Properties/ServiceDependencies/
MU5PrototypeProject/MU5PrototypeProject/Properties/serviceDependencies*.json
